@charset "UTF-8";

@import
	url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap")
	;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body {
	align-items: center;
	justify-content: center;
	padding: 50px;
	background: orange;
	/* overflow: hidden; */
}

.home {
	border: 1px solid red;
	border-collapse: collapse;
	padding-bottom:200px;
}

div a{
	display:block;
	padding: 10px;
	font-size: 20px;
	text-align: left;
	text-decoration: none;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

div span a{
	display:inline;
	font-size:20px;
}

 

  
